---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
IndentCaseLabels: false
AccessModifierOffset: -4

# Braces
BreakBeforeBraces: Attach

# Columns
ColumnLimit: 100

# Includes
SortIncludes: false

# Alignment
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

# Arguments / Parameters
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false

# Constructor initializers
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

# C++ standard
Standard: c++17
---
